*{
    margin: 0;
    padding: 0;
    font-family: 'lato',sans-serif;
}
.header {
    background-color: #262626;
    min-height: 82px;
    overflow: hidden;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.logo {
    color: white;
    width: 15%;
    float: left;
    text-transform: uppercase;
    margin-top: 23px;
}

.menu_bar {
    float: right;
    width: 50%;
    margin: 0 auto;
}
.menu_bar ul{color: #FF6760;float: right;}
.menu_bar ul li{float: left;}
.menu_bar ul li:first-child{list-style-type: none;}
.menu_bar ul li a{
    text-decoration: none;
    color: #D9D9D9;
    display: block;
    padding: 34px 25px;
    text-transform: uppercase;
}
.menu_bar ul li a:hover{
    color: #FF6760;
    transition: 2s;
}
.slider {
    min-height: 390px;
    background-color: #2A2A2A;
}

.slider_caption {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.slider_caption h2{
    padding-top: 70px;
    color: #8C8C8C;
    font-weight: normal;
    font-size: 55px;
}
.slider_caption h2 span{
    color: #D9D9D9;
    font-weight: bold;
}
.slider_caption p{
    font-size: 35px;
    color: #8F8F8F;
    line-height: 50px;
    padding-top: 17px;
}
.slider_caption p span{
    color: #D05A54;
}
.slider_caption button{
    background-color: #FF6760;
    border: none;
    margin-top: 40px;
    padding: 15px 13px;
    padding: 15px 45px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    color: white;
}
.content {
    
}

.single_content {
    width: 30%;
    float: left;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    margin: 1.2%;
    color: #616161;
    margin: 1.6%;
}
.icon{
    font-size: 60px;
    padding-top: 30px;
}
.main_content{}
.main_content h3{
    margin-top: 10px;
    font-weight: bold;
    font-size: 25px;
    color: #7B7B7B;
    padding-bottom: 14px;
}
.main_content p{
    font-size: 14px;
    line-height: 24px;
    color: #979797;
    font-weight: bold;
}
.footer {
    clear: both;
    background-color: #2A2A2A;
    min-height: 247px
}

.footer_content {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.footer_content h1 {
    padding-top: 45px;
}


.footer_content p {
    padding-top: 26px;
    font-size: 22px;
    margin-bottom: 20px;
    color: #969696;
}

.footer_content p span {
    color: #78403D;
}

}

.social_icon{}
.social_icon .circle_twitter{
    color: #D1DAE9;
    background-color: #4470CF;
    font-size: 24px;
    padding: 6px;
    border-radius: 25px;
}
.social_icon .circle_facebook{
    color: #FFFFFF;
    background-color: #4470CF;
    font-size: 24px;
    padding: 6px 11px;
    border-radius: 25px;
}
